@import url('https://fonts.googleapis.com/css?family=Lato:400i,700i,700');

body, p, h1, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #f3f3f3;
  padding-bottom: 5ex;
}

.bg {
  background: #FE902F;
  background: linear-gradient(35deg, #FE902F 0%, #FC6D44 100%);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

a:not(.store) {
  color: #f3f3f3;
  text-decoration: none;
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 0.2ex;
}

em {
  font-weight: 700;
}

p {
  margin-bottom: 2ex;
}

/* Brand */

h1 {
  font-weight: 700;
  font-size: 230%;
  font-style: normal;
  line-height: 1;
}

.logo, .store {
  width: 100%;
  margin-bottom: 2ex;
}

.logo {
  margin-bottom: 0.8ex;
}

.store {
  margin-top: 2.4ex;
}

/* Narrow Screens */
@media screen and (max-width: 500px) {
  body {
    font-size: 5.5vw;
  }
  .brand, .about {
    margin: auto;
    text-align: center;
  }
  .brand {
    width: 65vw;
    margin-top: 10vw;
  }
  .about {
    width: 80vw;
  }
}

/* Regular Portrait Screens */
@media screen and (min-width: 501px) and (orientation: portrait) {
  body {
    font-size: 3.5vw;
  }
  .brand, .about {
    margin: auto;
    text-align: center;
  }
  .brand {
    width: 45vw;
    margin-top: 10vw;
  }
  .about {
    width: 50vw;
  }
}

/* Landscape Screens */
@media screen and (orientation: landscape) {
  body {
    font-size: 2.5vw;
    padding-bottom: 0;
  }
  .brand, .about {
    margin: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }
  .brand {
    width: 25vw;
    position: absolute;
    left: 50%;
    margin-left: -30vw;
  }
  .about {
    width: 35vw;
    position: absolute;
    left: 52%;
    text-align: left;
  }
}

/* Big Landscape Screens */
@media screen and (min-width: 1024px) and (orientation: landscape) {
  body {
    font-size: 2vw;
  }
  .about {
    width: 30vw;
    left: 54%;
  }
}
